/* src/Slideshow.css */

.slideshow {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    
  }
  
  .slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%; /* Each slide takes 100% of the container width */
    max-width: 800px; /* Set a fixed max-width for each slide */
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    font-size: 18px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #555;
  }
  